/*Paramètres généraux*/
:root {
    /*jaune de naples*/
    --bgMainColor: #fff0bc;

    /*blanc*/
    --white: #ffffff;

    /*texte*/
    --txtColor: #514837;

    /*familles de polices*/
    --fontFam: 'Poppins', cursive;
}

.about {
    display: flex;
    flex-flow: row wrap;
}

.about > *{
    flex: 1 100%;
}

.PP{
    border:1px black solid; 
    width: 120px;
    order: 1;
}

.txt-container-about{
    order: 1;
}

.txt-container-watch{
    order: 3;
}

.downloadCV {
    transform: translateY(0);
    transition-duration: 0.85s;
    order: 4;
}


.downloadCV:hover {
    transform: translateY(-8px);
    transition-duration: 0.85s;
}

.content {
    border: black 2px solid;
    padding: 0;
}

.spacer {
    display: flex;
    max-width: 100%;
    width: 100vw;
    height: 3vh;
    background-color: var(--bgMainColor);
}

@keyframes moveUp {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-8px);
    }
}