/*Paramètres généraux*/
:root {
    /*jaune de naples*/
    --bgMainColor: #fce9a5;
    --bgSecond: #afa272;

    /*blanc*/
    --white: #ffffff;

    /*texte*/
    --txtColor: #514837;

    /*familles de polices*/
    --fontFam: 'Poppins', cursive;
}

.about-wrapper {
    padding: 12px;
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    color: var(--txtColor);
    background-color: var(--bgMainColor);
}

.txt-container-about {
    flex: 50%;
}

.txt-container-watch {
    flex: 8 40%;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}


.downloadCV {
    border: 0px;
    width: 200px;
    height: 50px;
    transition-duration: 0.85s;
    right: 50%;
    background-color: var(--bgSecond);
}

.downloadCV a {
    text-decoration: none;
    color: var(--white);
}

.downloadCV:hover {
    transform: scale(1.110);
    transition-duration: 0.85s;
}

.content {
    padding: 0;
}

.spacer {
    display: flex;
    max-width: 100%;
    width: 100vw;
    height: 3.2vh;
}